.contraste *,
.contraste a,
.contraste a:hover,
.contraste #portal-title {
    color: yellow !important;
}
.contraste a:hover{
    text-decoration: underline !important;
}
.contraste #wrapper,
.contraste header,
.contraste #main,
.contraste #portal-title,
.contraste .searchField,
.contraste #portal-searchbox {
    background-color: black;
    background-image: unset;
}
.contraste #portal-searchbox {
    border: 1px solid white;
}
body.contraste,
.contraste #sobre,
.contraste #sobre ul,
.contraste #em-destaque,
.contraste .nav-menu-bloco dt,
.contraste aside>h2,
.contraste aside .details,
.contraste aside .detalhes,
.contraste footer,
.contraste #about-template,
.contraste #em-destaque ul,
.contraste footer dl ,
.contraste #nav-menu-lateral-esquerda dd>ul>li.ativo {
    background-color: #1c1c1c;
    border-color: yellow;
}
.contraste .searchField {
    color: white;
}

.contraste .nav-menu-bloco,
.contraste aside {
    border-top-color: white;
}

.contraste #social-icons a,
.contraste .link-videos,
.contraste .link-audios,
.contraste .link-infograficos,
.contraste .link-publicacoes,
.contraste .link-fotos,
.contraste .link-aplicativos,
.contraste .link-dadosabertos,
.contraste header input.searchButton {
    background-image: url(../img/tema-contraste/sprite-contraste.png);
}
