/* Large: >= 992px */

@media only screen and (max-width: 975px) {
    header .block {
        width: 92%;
    }
    main {
        padding: 1em;
    }
    .nav-menu-de-relevancia {
        margin-top: 1em;
    }
    #navigation {
        margin-right: 0;
    }
    footer{
        padding-left: 1em
     }
}


