/* Small: >= 576px */

@media only screen and (max-width: 768px) {
    #portal-breadcrumbs,
    #accessibility,
    #doormat-container,
    #em-destaque,
    #portal-features {
        display: none !important;
    }
    #portal-siteactions {
        position: static;
        float: none;
        padding: 0 0 0.5em;
        font-size: 0.9em;
    }
    #logo {
        padding-left: 0.5em !important;
        min-width: 140px;
        width: 100% !important;
    }
    #about-template{
        margin: 0;
        padding: 1em;
    }
    #sobre ul{
        text-align: center;
    }
    #content {
        padding-right: 0;
    }
}

