header,
footer {
    background-color: #1659bf;
}

#footer-brasil {
    background-color: #0042b1;
}

header a,
header a:hover,
header a:visited,
footer,
footer a,
footer a:hover,
footer a:visited {
    color: white;
}

#sobre {
    background: #0f4098;
}

#social-icons a,
.link-videos,
.link-audios,
.link-infograficos,
.link-publicacoes,
.link-fotos,
.link-aplicativos,
.link-dadosabertos,
header input.searchButton{
    background-image: url(../img/tema-azul/sprite.png);
}

.nav-menu-bloco {
    border-top: 4px solid #1659bf;
    color: #1659bf;
}