header {
    background-color: #19882c;
    background-color: #0A5517;
    background-image: -moz-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #19882c), color-stop(100%, #025310));
    background-image: -webkit-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    background-image: -o-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    background-image: -ms-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    background-image: radial-gradient(ellipse at center, #19882c 1%, #025310 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#19882c", endColorstr="#025310", GradientType=1);
}

#accessibility span {
    background-color: #dcffe3;
    color: #17882c;
}

#sobre {
    background-color: #00420c;
    
}

#sobre li a {
    border-color: #6c9072;
}

header,
header a,
header a:hover,
header a:visited,
footer,
footer a,
footer a:hover,
footer a:visited {
    color: #ffffff;
}

#portal-siteactions,
#portal-language {
    border-color:#9bc2a3;
}

#portal-searchbox {
    border: 1px solid #CCCCCC;
}

#social-icons a,
.link-videos,
.link-audios,
.link-infograficos,
.link-publicacoes,
.link-fotos,
.link-aplicativos,
.link-dadosabertos,
header input.searchButton,
.use-sprite{
    background-image: url(../img/tema-verde/sprite.png);
}

#accessibility span {
    background-color: #9ed5ab;
    color: #006600;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .menuTrigger {
        background: #065116 url("../img/bg-menu-mobile.png") top right no-repeat;
    }
}

.nav-menu-bloco {
    border-top: 4px solid #00510f;
    color: #00510f;
}

footer {
    background-color: #034811;
}

#footer-brasil {
    background-color: #00420c;
}

footer dt {
    color: #7dc48a;
}

footer dl {
    border-color: #7dc48a;
}