header,
footer {
    background-color: #fbda43;
    background-color: #f8c60b;
    background-image: -moz-radial-gradient(center, ellipse cover, #fbda43 1%, #f8c60b 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(1%, #fbda43), color-stop(100%, #f8c60b));
    background-image: -webkit-radial-gradient(center, ellipse cover, #fbda43 1%, #f8c60b 100%);
    background-image: -o-radial-gradient(center, ellipse cover, #fbda43 1%, #f8c60b 100%);
    background-image: -ms-radial-gradient(center, ellipse cover, #fbda43 1%, #f8c60b 100%);
    background-image: radial-gradient(ellipse at center, #fbda43 1%, #f8c60b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fbda43", endColorstr="#f8c60b", GradientType=1);
}
#accessibility span {
    background: #03316f;
    color: #fff;
}
#portal-siteactions, #language {
    border-color: #03316f;
}
header a,
footer a,
header,
footer,
#portal-title {
    color: #03316f !important;
}

#footer-brasil {
    background-color: #f28f00;
    ;
}

header a,
header a:hover,
header a:visited {
    color: white;
}

#sobre {
    background: #f8b904;
}


.nav-menu-bloco {
    border-top: 4px solid #1659bf;
    color: #1659bf;
}
footer dl {
    border-color: #1659bf;
}